/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(118, 144, 161);
    color: white;
    padding: 10px;
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* To ensure it stays above other elements */
    
}

ul{
    margin-left: 60%;
    color: white;
}
li{
    display: inline;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #a1ece6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px;
}

/* Container styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

/* Input fields styling */
.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #00bcd4;
    font-size: 12px;
}

/* Login button styling */
.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #00bcd4;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background-color: #0097a7;
}
